////////////////////////////////////////////////////////////////////////////////
// *
// * Embed content block
// *
////////////////////////////////////////////////////////////////////////////////


// *
// =============================================================================

.block--type-cb-embed-content {

  iframe {
    border: none;
    vertical-align: bottom;
  }
}
